LOCATE COMP "clk" SITE "P3";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;

LOCATE COMP "rst" SITE "B3";
IOBUF PORT "rst" IO_TYPE=LVCMOS33;

LOCATE COMP "uart0_txd" SITE "N3";
LOCATE COMP "uart0_rxd" SITE "N4";

IOBUF PORT "uart0_txd" IO_TYPE=LVCMOS33;
IOBUF PORT "uart0_rxd" IO_TYPE=LVCMOS33;

LOCATE COMP "led_a" SITE "U16";

IOBUF PORT "led_a" IO_TYPE=LVCMOS33;
